.category-card {
  // width: 150px;
  // height: 100px;
  // margin: 5px;
  // text-align: center;
  background: white;
  margin: 10px;
  height: 100px;
  width: calc((100% / 4) - 20px);
  padding: 10px;
  color: black;
}
